*{
  margin: 0;
  padding: 0;
}

#img-vaso{
  width: 100%;
  height: 50vh;
  background-image: url('../assets/img/vaso.jpg');
  /* margin: 10% 10%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#cards, form{
  padding-top: 5%;
}

.nuevoc{
  padding: 1%;
}

.form-mtto{
  padding-top: 10% !important;
}
